<body>
  <h1>Ingresar datos</h1>

  <form action="/users/login/into" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Enviar</button>
    <button type="reset">Cancel</button>
  </form>

  <a id="githubbutton" href='/users/github'>Iniciar sesion con github</a>
  <button onclick="window.location.href='/users/register'">No tengo usuario, me quiero registrar</button>
</body>
