<form action="/api/sessions/login" method="POST">

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required maxlength="100" />

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    required
    maxlength="100"
  />

  <button type="submit">Login</button>
</form>
<a href="register">Not Registered</a>